

<md-content layout="column">

    <md-content layout-gt-sm="row" layout="column">
        <md-card flex>
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">headline</span>
                        <span class="md-subhead">subheadline</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{value}}
                </md-card-content>
            </md-content>
        </md-card>

        <md-card flex>
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">headline</span>
                        <span class="md-subhead">subheadline</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{value}}
                </md-card-content>
            </md-content>
        </md-card>
    </md-content>

    <md-content layout-gt-sm="row" layout="column">
        <md-card flex>
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">headline</span>
                        <span class="md-subhead">subheadline</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{value}}
                </md-card-content>
            </md-content>
        </md-card>

        <md-card flex>
            <md-content>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">headline</span>
                        <span class="md-subhead">subheadline</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{value}}
                </md-card-content>
            </md-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="increment()">increment</md-button>
              <md-button ng-click="decrement()">decrement</md-button>
            </md-card-actions>
        </md-card>
    </md-content>

</md-content>
